.container {
  background-color: hsl(209, 23%, 22%);
  border-radius: 5px;
  width: 80%;
  margin: 25px auto;
  padding: 20px 10px;

  .cardDeck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
}
