$dark-color: #202c37;
$light-color: #2b3945;

.container {
  background-color: $light-color;
  border-radius: 5px;
  width: 80%;
  margin: 25px auto;
  padding: 20px 10px;

  .cardDeck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 5px;
  }
  .header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    button {
      margin-left: 22px;
      border: 0.5px solid $dark-color;
      border-radius: 3px;
      background-color: $dark-color;
      color: white;
      font-size: 25px;
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  p {
    font-size: 30px;
  }
}
