.containerCard {
  -webkit-perspective: 900;
  -moz-perspective: 900;
  -o-perspective: 900;
  perspective: 900;
  position: relative;
  display: block;
  width: 30%;
  margin-top: 20px;
  margin-right: 10px;
  .card {
    width: 320px;
    height: 400px;

    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    .front,
    .back {
      background-color: hsl(207, 26%, 17%);
      border-radius: 5px;
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 310ms;
      transition: -webkit-transform 310ms;
      transition: transform 310ms;
      transition: transform 310ms, -webkit-transform 310ms;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transform-origin: center top;
      transform-origin: center top;
    }
    .front {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      img {
        min-width: 100%;
        min-height: 100%;
      }
      .frontName {
        position: absolute;
        top: 85%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        background-color: hsla(209, 26%, 17%, 0.75);
        text-align: center;
        font-size: 25px;
      }
    }
    .back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      text-align: center;
      padding-top: 12px;
      h6 {
        font-size: 30px;
        font-weight: 600;
      }
      .error {
        position: absolute;
        top: 90%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        font-weight: 400;
        border-radius: 3px;
        font-size: 20px;
        text-align: center;
        padding: 2px;
        background-color: #d9534f;
      }
      .buttons {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 90%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        button {
          border: 0.5px solid hsl(209, 23%, 22%);
          border-radius: 3px;
          background-color: hsl(209, 23%, 22%);
          color: white;
          font-size: 25px;
          padding: 5px 10px;
          margin: 0 10px;
          cursor: pointer;
          &:hover {
            transform: scale(0.95);
          }
        }
      }
    }
    &:hover .front {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
    }
    &:hover .back {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }
}
