$dark-color: #202c37;
$light-color: #2b3945;

.container {
  height: 50px;
  padding: 10px 20px 0;
  background-color: $dark-color;
  display: flex;

  .left,
  .right {
    flex: 50%;
    display: flex;
  }
  .right {
    justify-content: flex-end;
    align-items: center;
    margin-right: 35px;

    i {
      transition: all 0.2s ease-in-out;
      font-size: 35px;

      &:hover {
        transform: translateX(-3px);
        cursor: pointer;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
    .pageTitle {
      font-size: 35px;
      margin-left: 20px;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: translateY(-3px);
        cursor: pointer;
      }
    }
  }
}
