.form {
  display: flex;
  height: 15%;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  .input {
    width: 100%;
    border: 0;
    height: 36px;
    padding: 0 10px;
    outline: 0;
    order: 2;
  }
  .button {
    background-color: #fff;
    border: 1px solid #000;
    height: 36px;
    padding: 10px;
    margin-left: 5px;
    border: 0;
    cursor: pointer;
    outline: 0;
    order: 1;
  }
}
