.container {
  margin: 50px auto;
  width: 30%;
  border: 1px solid hsl(209, 23%, 22%);
  border-radius: 5px;
  padding: 10px;

  background-color: hsl(209, 23%, 22%);

  form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 7px;
      border: 0.5px solid hsl(209, 23%, 22%);
      border-radius: 3px;
      width: 100%;
      border: 0;
      height: 25px;
      padding: 0 10px;
    }
    button {
      border: 0.5px solid hsl(207, 26%, 17%);
      border-radius: 3px;
      background-color: hsl(207, 26%, 17%);
      color: white;
      font-size: 12px;
      width: 100%;
      padding: 5px 10px;
      margin: 7px auto 0;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
    .error {
      font-weight: 400;
      border-radius: 3px;
      font-size: 12px;
      text-align: center;
      padding: 5px;
      background-color: #d9534f;
    }
  }
}
