@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$dark-color: #202c37;
$light-color: #2b3945;

body {
  background-color: $dark-color;
  color: white;
  font-family: "Nunito Sans", sans-serif;
}
